<div class='team__content'>
    <button class='close'></button>
    <h2 class="team__title">Team-3 🚀</h2>
    <ul class="our-team list">
    {{#each this}}
    <li class='team__card our-team__item '>
        <img src='{{photo}}' alt={{fullName}} class='profile' />
        <figcaption>
            <h3 >{{firstName}}</h3>
            <h3>{{secondName}}<span>{{position}}</span></h3>
            <div class='icons'>
                <a href='{{linkedIn}}' target="_blank" rel="noopener noreferrer">
                    <i class='ion-social-linkedin-outline'></i></a>
                <a href='{{gitHub}}' target="_blank" rel="noopener noreferrer"> 
                    <i class='ion-social-github-outline'></i></a>
                    <a href='{{telegram}}' target="_blank" rel="noopener noreferrer">
                        <i class='ion-paper-airplane'></i></a>
            </div>
        </figcaption>
    </li>
    {{/each}}
    </ul>
</div>